/**
*
* spacing.css
* @author - Ibrahim
* @date - 07/02/2024
**/

.p-20 {
    padding: 20px 20px 20px 20px;
}

.pl-30 {
    padding-left: 30px;
}

.mr-20 {
    margin-right: 20px;
}

.ml-30 {
    margin-left: 0px;
}

.pt-10 {
    padding-top: 10px;
}
.mr-10 {
    margin-right: 10px;
}